.container {
  padding: 0 7.2rem;
}

.main {
  min-height: calc(100vh - 95px);
  /* padding: 4rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}



.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

